@{
    ViewData["Title"] = "Главная";
}
<h1>Добро пожаловать в RecipeFinder!</h1>
<p>Главная страница с топом выбранных рецептов</p>
<p>Скорее всего надо будет добавить отдельное поле для счетчика кликов по ссылке в БД</p>
<a href="/Recipe/Search">Поиск рецептов</a>
<a href="/Recipe/Search?ingredients=фасоль+белая&ingredients=чеснок&ingredients=тимьян&ingredients=соль&ingredients=мука&ingredients=молоко&ingredients=яйцо&ingredients=сливочное+масло&ingredients=разрыхлитель&ingredients=сахар&ingredients=свекла&ingredients=вода&ingredients=картофель&ingredients=перец&ingredients=сметана&ingredients=лук+репчатый&ingredients=грибы+замороженные">Тестовый GET-запрос</a>