@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy. Короче кто-то должен написать Privacy Policy, можете стыбзить у кого-то или через ии сделать мне все равно</p>
