<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/Recipe/Search">Поиск рецептов</a>
    </nav>
    <main>
        @RenderBody()
    </main>
</body>
</html>